<h2>INSCRIPTION :</h2>
<form [formGroup]="clientForm" id="formInscription" (ngSubmit)="validerInscription()">
    <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input formControlName="nom" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Prenom</mat-label>
        <input formControlName="prenom" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Age</mat-label>
        <input formControlName="age" type="number" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Valider</button>
</form>