<mat-toolbar id="navbar">
    <button mat-raised-button routerLink="clients/create">
        Inscription
    </button>
    <button mat-raised-button routerLink="clients">
        Liste des clients
    </button>
    <button mat-raised-button routerLink="films">
        Listes des films
    </button>
    <button mat-raised-button routerLink="seances">
        Listes des seances
    </button>
    <button mat-raised-button routerLink="reservations">
        Listes des reservations
    </button>

</mat-toolbar>